 <div class="card bg text-light">
      <div class="card-body  ">
        <h5 class="card-title" style="font-weight: 600;">Budget</h5>
        <h1 class="card-title" style="font-weight: 600;"> {{user.budget}}</h1>
        <h5 class="card-text text-danger " style="font-weight: 600;" >Total Spent</h5>
        <h1 class="card-title" style="font-weight: 600;">{{totalSpent}}</h1>
        <a  class="btn btn-outline-light card-btn" style="float:right;font-weight: 600;" routerLink="/profile">Change Budget</a>
      </div>
    </div>